<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <h1>Events</h1>

    <form method="post" action="{{ url_for('filter_events') }}">
        <label for="category">Select Category:</label>
        <select name="category" id="category">
            <option value="Football">Football</option>
            <option value="Basketball">Basketball</option>
            <!-- Add more options for other categories if needed -->
        </select>
        <button type="submit">Filter</button>
    </form>

    <table border="1">
        <tr>
            <th>Event ID</th>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Event Location</th>
            <th>Event Description</th>
            <th>Event Category</th>
        </tr>
        {% for event in events_data %}
        <tr>
            <td>{{ event[0] }}</td>
            <td>{{ event[1] }}</td>
            <td>{{ event[2] }}</td>
            <td>{{ event[3] }}</td>
            <td>{{ event[4] }}</td>
            <td>{{ event[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
